.page-wrapper {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    background-image: url("spidermanHeader.svg");
    background-repeat: no-repeat, repeat;
    animation: spiderManDownUp 2s infinite alternate;
  }
  
  @keyframes spiderManDownUp {
    from {
      background-position-y: -100px, 0px;
    }
    to {
      background-position-y: -10px, 0px;
    }
  }
  